.wrapper {
  width: 80%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.add-container {
  margin: 20px auto 20px;
}

.table-container {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.validation {
  color: red;
}

.icon {
  cursor: pointer;
}

.empty-table {
  font-size: 3rem;
  text-align: center;
}

.centered {
  text-align: center;
}
